/*hello*/
nav{
    background-color: #FFCCCB;
}
nav h4{
    padding-top: 10px;
    padding-bottom: 0px;
}
h4 {
    font-size: 60px;
    text-align: center;
    color: #AA336A;
}

nav p{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: green;
}