header{
    background-color: #FFCCCB;
}

nav{
    background-color: #FFCCCB;
}
nav h4{
    padding-top: 10px;
    padding-bottom: 0px;
}
h4 {
    font-size: 60px;
    text-align: center;
    color: #AA336A;
}

nav p{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #FCA5AF;
    
}

nav p a{
    text-decoration: none;
    color: #AA336A;
}

nav p a:hover{
    color:#FCA5AF;
    background-color: #AA336A;
}


.content{
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.content p{
    width: 70%;
}

#buttons{
    margin-left: 2vh;
}

button{
    background-color: #AA336A;
    color:#FCA5AF;
    border-style: none;
    padding:3px;
    margin:1px;
}

button :hover{
    background-color: #6f2145;
}

footer{
    background-color: #FFCCCB;
}
